@font-face {
    font-family: Cascadia;
    src: url(../assets/CascadiaMono.ttf);
}




body{
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #000000;
    cursor:none;
    font-family: Cascadia, serif;


}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo{
    margin : 20px;

}

#circle{
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    border:2px solid #30ff00;
    z-index: -5;
}

#txt{
    color: #30ff00;
    font-size: 20px;
    margin: 0 20px 0 20px;
    border: #30ff00 solid 3px;
    height: 740px;
    padding: 20px;
    overflow:scroll;
    overflow-x:hidden;
}

.credits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #30ff00;
    margin-top: 10px;
}

.credits p{
    margin: 0;
}

a {
    text-decoration: none;
    color: #1d8c00;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #30ff00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1d8c00;
}